.subscribe-block{
    margin-top: 70px;
    background: rgb(247, 249, 249);
    border-radius: 16px;
    font-size: 15px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px 16px;
    
}

.subscribe-block__premium{
    font-weight: 800;
    line-height: 24px;
    font-size: 20px;
}

.subscribe-block__content{
    font-weight: 700;
    line-height: 20px;
    font-size: 15px;
}

.subscribe-block__button{
    color: rgb(255,255,255);
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    background: black;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    width: 88px;
    padding: 8px 16px;
    

}